main {
  background-color: rgb(231, 229, 229);
}

/* Barra de navegacion */

.navbar {
  padding: 2rem;
  font-weight: bold;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}

.color-nav {
  background-color: dimgrey;
}

/* textos index */

.titulo-cartas {
  text-align: center;
  color: #a68a38;
  font-weight: bold;
}

.sub-cartas {
  text-align: center;
  font-size: 1.2rem;
}

.tamaño-card {
  max-width: 600px;
}

/* MAPA */
.map-responsive {
  overflow: hidden;

  padding-bottom: 56.25%;

  position: relative;

  height: 0;
}

.map-responsive iframe {
  left: 0;

  top: 0;

  height: 100%;

  width: 100%;

  position: absolute;
}
/*PIE DE PAGINA (FOOTER)*/
footer {
  background-color: black;
  padding-top: 1rem;
}
.footer-sm {
  background-color: #232323;
  color: white;
}
.footer-sm a {
  color: white;
}

.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}

.footer.sm__icons {
  text-align: center;
  padding-bottom: 1.5rem 0;
}

.footer-bottom__copyright {
  text-align: center;
  color: gray;
}

.footer-bottom {
  padding-bottom: 1.5rem 0;
}

/* RESPONSIVO */
@media (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
  .logo-nosotros {
    display: none;
  }
}
