/* Barra de navegacion */

.navbar {
  padding: 2rem;
}
.navbar-collapse {
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
}
