/* MAPA */
$aspect-ratio: 56.25%;

.map-responsive {
  overflow: hidden;
  padding-bottom: $aspect-ratio;
  position: relative;
  height: 0;

  iframe {
    left: 0;
    top: 0;
    height: 100%;
    width: 100%;
    position: absolute;
  }
}
