footer {
  background-color: black;
  padding-top: 1rem;
}
.footer-sm {
  background-color: #232323;
  color: white;
}
.footer-sm a {
  color: white;
}

.footer-sm a i {
  font-size: 1rem;
  margin-left: 1rem;
}

.footer.sm__icons {
  text-align: center;
  padding-bottom: 1.5rem 0;
}

.footer-bottom__copyright {
  text-align: center;
  color: gray;
}

.footer-bottom {
  padding-bottom: 1.5rem 0;
}
