$footer-bg-color: black;
$footer-sm-bg-color: #232323;
$footer-sm-text-color: white;
$footer-bottom-text-color: gray;

.footer {
  background-color: $footer-bg-color;
  padding-top: 1rem;

  &-sm {
    background-color: $footer-sm-bg-color;
    color: $footer-sm-text-color;

    a {
      color: $footer-sm-text-color;

      i {
        font-size: 1rem;
        margin-left: 1rem;
      }
    }

    &__icons {
      text-align: center;
      padding-bottom: 1.5rem;
    }
  }

  &-bottom {
    padding-bottom: 1.5rem;
    text-align: center;
    color: $footer-bottom-text-color;

    &__copyright {
      text-align: center;
    }
  }
}
