main {
  background: rgb(166, 138, 56);
  background: linear-gradient(
    0deg,
    rgba(166, 138, 56, 1) 0%,
    rgba(119, 119, 119, 0.8155637254901961) 100%
  );
}
/* RESPONSIVO */
@media (max-width: 767px) {
  .navbar-brand {
    display: none;
  }
  .logo-nosotros {
    display: none;
  }
}
