$mobile-max-width: 767px;
$main-bg-color: #a68a38;
$main-bg-gradient: linear-gradient(
  0deg,
  rgb(48, 47, 44) 0%,
  rgba(119, 119, 119, 0.8155637254901961) 100%
);

main {
  background: $main-bg-color;
  background: $main-bg-gradient;
}

@media (max-width: $mobile-max-width) {
  .navbar-brand,
  .logo-nosotros {
    display: none;
  }
}

.banner {
  svg {
    @media (max-width: $mobile-max-width) {
      display: none;
    }
  }
  h2 {
    @media (max-width: $mobile-max-width) {
      font-size: 10px;
    }
  }
}
