$main-bg-color: rgb(166, 138, 56);
$main-bg-gradient: linear-gradient(
  0deg,
  rgb(48, 47, 44) 0%,
  rgba(119, 119, 119, 0.8155637254901961) 100%
);

main {
  background: $main-bg-color;
  background: $main-bg-gradient;
}

/* RESPONSIVO */
@media (max-width: 767px) {
  .navbar-brand,
  .logo-nosotros {
    display: none;
  }
}
