$titulo-color: #a68a38;
$tamano-card: 600px;

.titulo-cartas {
  text-align: center;
  color: $titulo-color;
  font-weight: bold;
}

.sub-cartas {
  text-align: center;
  font-size: 1.2rem;
}

.tamaño-card {
  max-width: $tamano-card;
}
.fondonew {
  background: #000000;
}
