$nav-bg-color: dimgrey;
$nav-bg-color-hover: #555;

.navbar {
  padding: 2rem;
  font-weight: bold;

  &-collapse {
    align-items: center;
    justify-content: space-between;
  }

  &.color-nav {
    background-color: $nav-bg-color;

    &:hover {
      background-color: $nav-bg-color-hover;
    }
  }
}
