$nav-bg-color: dimgrey;
$nav-bg-color-hover: #3d3b35;

.navbar {
  padding: 2rem;
  font-weight: bold;
  transition: background-color 0.3s ease-in-out; // Agregar transición

  &-collapse {
    align-items: center;
    justify-content: space-between;
  }

  &.color-nav {
    background-color: $nav-bg-color;

    &:hover {
      background-color: $nav-bg-color-hover;
    }
  }
}
